<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        div{
            float: left;
        }
    </style>
</head>
<body>
    <h1>Admin</h1>
    <form class="div">
        <p>
            <input type="text" id="id" placeholder="id" aria-label="id">
        </p>
        <p>
            <input type="text" id="url" placeholder="url" aria-label="url">
        </p>
        <p>
            <button type="button" id="addConnectorBtn">Add Connector</button>
        </p>
    </form>
    <table id="connectorTable" class="div">
        <tbody>
            <tr th:each="connector: ${connectors}">
                <td th:text="${connector.id}"></td>
                <td th:text="${connector.url}"></td>
                <td>
                    <button type="button" class="btn delete-Connector"
                     th:data-id="${connector.id}">delete</button>
                </td>
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        //add button functionality
        $("#addConnectorBtn").click(function addConnector(e){
            e.preventDefault();
            let id = $("#id").val();
            let url = $("#url").val();
            if(id == ""){
                $("#id").css("border-color", "red");
                return;
            }
            if(url == ""){
                $("#url").css("border-color", "red");
                return;
            }
            $.ajax({
                url: "/admin/addConnector",
                method: "post",
                data: {
                    id: id,
                    url: url
                },
                dataType: "text",
            })
                .done(function (data){
                    if(data=="ID already exists")
                        document.getElementById("id").focus();
                    else if(data=="Invalid session")
                        promptPassword();
                    else if(data.includes("now connected to"))
                        location.reload();             
                    else
                        alert(data);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error(jqXHR, textStatus, errorThrown);
                });
        });
        //delete button functionality
        $(".delete-Connector").click(function deleteConnector(e){
            let id = $(this).data("id");
            $.ajax({
                url: "/admin/removeConnector",
                method: "post",
                data: {
                    id: id
                },
                dataType: "text",
            })
                .done(function (data){
                    if(data==id + " removed")
                        location.reload();
                    else if(data=="Invalid session")
                        promptPassword();
                    else
                        alert(data);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error(jqXHR, textStatus, errorThrown);
                });
        });
        //make buttons react to Enter
        document.getElementById("url").addEventListener("keypress", function(event){
            if(event.key === "Enter") {
                event.preventDefault();
                document.getElementById("addConnectorBtn").click();
            }
        });
        document.getElementById("id").addEventListener("keypress", function(event){
            if(event.key === "Enter") {
                event.preventDefault();
                document.getElementById("url").focus();
            }
        });

        //function that opens prompt for password and sends it to the server
        function promptPassword(){
            let password = prompt("password");
            $.ajax({
                url: "/admin/login",
                method: "post",
                data: {
                    password: password
                },
                dataType: "text",
            })
                .done(function (data){
                    if(data == "Wrong password"){
                        alert("Wrong password");
                        promptPassword();
                    }
                    else
                        alert(data);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error(jqXHR, textStatus, errorThrown);
                });
        }
    </script>
</body>
</html>