<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy Interface</title>
</head>
<body>
<form id="form">
    <p>
        <input type="text" id="url" placeholder="url" aria-label="url">
    </p>
    <p>
        <button type="button" id="proxyBtn">Proxy</button>
    </p>
</form>
<script>
    //block form default behavior
    document.getElementById("form").addEventListener("submit", function (e){
        e.preventDefault();
    });

    //add button functionality
    document.getElementById("proxyBtn").addEventListener("click", function (e){
        e.preventDefault();
        let url = document.getElementById("url").value;
        if(url == ""){
            document.getElementById("url").style.borderColor = "red";
            return;
        }
        location.href = "/proxy?url=" + url;
    });

    //make the input field react to Enter
    document.getElementById("url").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("proxyBtn").click();
        }
    });
</script>
</body>
</html>