<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <div th:if="${param.invalidSession}">
        <form action="/login" method="post">
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
    </div>
    <div th:if="${param.invalidPassword}">
        The password is invalid.
    </div>
    <div th:if="${param.noAdmin}">
        There is no admin.
    </div>
    <div th:if="${param.invalidUrl}">
        The Url is invalid.
    </div>
    <div th:if="${param.subdomainExists}">
        The subdomain already exists.
    </div>
    <div th:unless="${param.invalidSession}">
        <form action="/addConnector" method="post">
            <p>
                <input type="text" name="subdomain" id="subdomain" placeholder="subdomain">
            </p>
            <p>
                <input type="text" name="url" placeholder="url">
            </p>
            <p>
                <input type="submit" value="Add Connector">
            </p>
        </form>
        <table id="connectorTable">
            <tbody>
                <tr th:each="connector: ${connectors}">
                    <td th:text="${connector.subdomain}"></td>
                    <td th:text="${connector.url}"></td>
                    <td>
                        <form action="/removeConnector" method="post">
                                <input type="hidden" name="subdomain" th:value="${connector.subdomain}">
                                <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>